<main>
  <style>
    .card-img-top{
      width: 900px;
      height: 350px;
    }
    p,h5{
      font-family: cursive;
    }
  </style>
  <div class="card mb-3">
  <img src="https://thumbs.dreamstime.com/z/arreglo-de-la-pc-del-ordenador-e-icono-logo-design-element-de-la-reparaci%C3%B3n-95599573.jpg" class="card-img-top" alt="Active">
  <div class="card-body">
    <h5 class="card-title"><center>Centro de registros de computadoras de un establecimiento</center></h5>
    
    <a href="/registro"><center>Registrar computadora</center></a>
  </div>
</div>
</main>

